
.formulario{
    border: 5px solid blueviolet;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    color: white;
}
.colorFondo{
    border: 2px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
}
.acomodoLabel{
    display: inline-block;
    width: 100px;
}